---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Guy Chien";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img class="head" width="250" height="250" alt="RaccoonSpaceGif" src="/clown.jpg" />
  </div>
  <h1>Guy Chien</h1>
  <span class="badge">Frontend Developer @ rezio</span>
  <h2>About</h2>
  <p>
    嗨，我是 Guy，一名前端工程師，畢業於輔仁大學資訊管理學系，目前就職於
    rezio，負責前端開發。 擁有 React 相關經驗接近 6
    年，解決前端基礎建設、效能問題、設計系統建置經驗。
  </p>
  <h2>Skills</h2>
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TailwindCSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Sass"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Jest"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jest/jest-plain.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Playwright"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/playwright/playwright-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Webpack"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/webpack/webpack-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Babel"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/babel/babel-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Next.js"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Vim"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vim/vim-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Node.js"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="C#"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Docker"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    我喜歡學習新事物，並且喜歡分享所學，但常常會學了就忘記，所以會寫一些文章來記錄。我相信知識的分享能夠帶來更多的價值，透過寫作不僅能夠幫助自己整理思緒，也能夠幫助其他人學習。
  </p>
</Layout>
