@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");

@import "tailwindcss";

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@theme {
  --font-permanent-marker: "Permanent Marker", cursive;
  --font-sriracha: "Sriracha", cursive;
  --font-zen-maru-gothic: "Zen Maru Gothic", sans-serif;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4caf50;
  --ifm-color-primary-dark: #43a047;
  --ifm-color-primary-darker: #388e3c;
  --ifm-color-primary-darkest: #2e7d32;
  --ifm-color-primary-light: #66bb6a;
  --ifm-color-primary-lighter: #81c784;
  --ifm-color-primary-lightest: #a5d6a7;
  --ifm-background-color: #f1f8e9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #81c784;
  --ifm-color-primary-dark: #66bb6a;
  --ifm-color-primary-darker: #4caf50;
  --ifm-color-primary-darkest: #43a047;
  --ifm-color-primary-light: #a5d6a7;
  --ifm-color-primary-lighter: #c8e6c9;
  --ifm-color-primary-lightest: #e8f5e9;
}

.navbar__title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.35rem;
  font-size: 1.5rem;
}

.navbar__item {
  font-family: "Sriracha", cursive;
  letter-spacing: 0.1rem;
  font-size: 1.3em;
}

.menu__link {
  font-family: "Sriracha", "Zen Maru Gothic", cursive;
  letter-spacing: 0.1rem;
  font-size: 1.3em;
}

.footer__title {
  font-family: "Sriracha", cursive;
  letter-spacing: 0.1rem;
  font-size: 1.3em;
}

.footer__items {
  font-family: "Sriracha", cursive;
  letter-spacing: 0.1rem;
}

.footer__bottom {
  font-family: "Sriracha", cursive;
}
